//  ===== Vars.scss ==========================================================
//  Variables used by other stylesheets
//  ==========================================================================


// ------------------------------
// Colors
// ------------------------------
$beige:             #FBF7ED;
$darkGreen:         #32615B;
$darkPurple:        #1B0917;

// ------------------------------
// Type
// ------------------------------


// ------------------------------
// Timings
// ------------------------------


// ------------------------------
// Sizing
// ------------------------------
$bp1:               848px;
$bp2:               600px;


// ------------------------------
// Z-Indexes
// ------------------------------
